body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

hr {
    display: none;
}

label[for=zw-password__show--check] {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

input[type=text]#zw-password__input:focus,
input[type=password]#zw-password__input:focus {
    outline: none;
}

input[type=text]#zw-password__input,
input[type=password]#zw-password__input {
    border: 1px solid rgb(175, 175, 175);
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    border-radius: 0.25rem;
}

.zw-box {
    width: 20rem;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(240, 240, 240);
    margin-bottom: 1rem;
}

#zw-progress__bar--outline {
    width: 100%;
    background-color: lightblue;
    border: 2px solid black;
}

#zw-progress__bar--fill {
    display: block;
    float: left;
}

#zw-progress__bar--outline,
#zw-progress__bar--fill {
    height: 1rem;
    border-radius: 1rem;
}

.zw-progress__bar--score25 {
    background-color: red;
    width: 25%;
}

.zw-progress__bar--score50 {
    background-color: orange;
    width: 50%;
}

.zw-progress__bar--score75 {
    background-color: yellow;
    width: 75%;
}

.zw-progress__bar--score100 {
    background-color: green;
    width: 100%;
}

#zw-progress__star {
    text-align: center;
    font-size: 1.5rem;
}

.zw-progress__star--fill {
    color: rgb(150, 0, 0);
}

.zw-progress__star--empty {
    color: rgb(35, 35, 35);
}

#zw-feedback {
    min-height: 3rem;
}

#zw-feedback_warning {
    font-weight: bold;
}

#zw-feedback__suggestion,
#zw-feedback__warning {
    font-size: 0.9rem;
}